{% load pagination_tags %}


{% autopaginate data 10 %}
<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#ca').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>


<div class="table-responsive">
<a href="/report/viewcomunityapprochinpdf" target="_blank" class="btn btn-danger btn-danger-right">Export To PDF</a>

<table class="table table-hover table-bordered" id="ca">
    <thead>
        <tr>
            <th>Year of Initiation</th>
            <th>Sector Category</th>
            <th>Approach Type</th>
            <th>Approach Name</th>
            <th>Cost/Capita (USD)</th>
        {% if user.is_superuser %}
            <th>Country</th>
        {% endif %}
            <th>&nbsp;</th>
            
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        <td>{{ d.year }}</td> 
        <td>{{ d.sector_category }}</td>
        <td>{{ d.approach_type }}</td>        
        <td>{{ d.approach_name }}</td>
       
        <td>{{ d.cost_per_capita }}</td>
    {% if user.is_superuser %}
        <td>{{ d.country}}</td>
    {% endif %}
        <td><a href="/report/communityapproachedit/{{d.id}}">Edit</a></td>
        
    </tr>
    
    
{% endfor %}

</tbody>
</table>
<ul class="pagination">
    
{% paginate %}
</ul>

</div>