
<div class="table-responsive">
 <!--<a href="/report/viewcountrydemographicpdf" target="_blank" class="btn btn-danger btn-danger-right">Export To PDF</a>   -->
<table class="display" cellspacing="0" width="100%" id="cd">
    <thead>
        <tr>
            <th>#</th>
            <th>Year</th>
            <th>Population</th>
        {% if user.is_superuser %}
            <th>Country</th>
        {% endif %}
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        <td>{{ forloop.counter0|add:page.start_index }}</td>
        <td>{{ d.year }}</td>
        <td>{{ d.population|default_if_none:0 }}</td>
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        <td><a href="/report/countrystatusedit/{{ d.id }}/">Edit</a></td>
        <!--<td><a id="confirm" href="{% url 'delete_employee' d.id %}">Delete employee {{d.id}}</a></td>-->
        <td><a class="delete" href="/countryStatusDelete/{{ d.id }}/delete/" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    
    </tr>
    
{% endfor %}

</tbody>
</table>



</div>
<script src="//ajax.microsoft.com/ajax/jQuery/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
    var jQuery_1_9_1  = $.noConflict(true);
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    jQuery_1_9_1(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        jQuery_1_9_1.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        
        var onDelete = function(){
            jQuery_1_9_1.post(this.href, function(data) {
                if (data.result == "ok"){
                    
                    location.reload();
                   
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        }

        jQuery_1_9_1(".delete").click(onDelete);
    });
</script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jQuery_1_9_1  = $.noConflict(true);
                    jQuery_1_9_1(document).ready( function () {
                        jQuery_1_9_1('#cd').dataTable( {
                        dom: 'T<"clear">lfrtip',
                        //"bPaginate": false,
                        //"info":     false,
                        tableTools: {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                                        {
                                            "sExtends": "copy",
                                            "mColumns": [0, 1, 2]
                                        },
                                        {
                                            "sExtends": "csv",
                                            "mColumns": [0, 1, 2]
                                        },
                                        {
                                            "sExtends": "xls",
                                            "mColumns": [0, 1, 2]
                                        },
                                        {
                                            "sExtends": "pdf",
                                            "mColumns": [0, 1, 2]
                                        },
                                        {
                                            "sExtends": "print",
                                            "mColumns": [0, 1, 2]
                                        },
                                    ]
                                    }
                
                        }
                        
                        );
                    } );
                </script>
 
 