<div class="table-responsive">
    <a href="#" target="_blank" onclick="$('#tableData').tableExport({type:'pdf',escape:'false'});">Export</a>
<table class="table table-hover table-bordered" id="tableData">
    <thead>
        <tr>
            <th>#</th>
            <th>Year</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.year }}</td>
        <td>{{ d.population }}</td>
        <td><a href="#">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>