<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#cd').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>

<div class="table-responsive">
    
<table class="table table-hover table-bordered" id="cd">
    <thead>
        <tr>
            <th>#</th>
            <th>Year</th>
            <th>Population</th>
        {% if user.is_superuser %}
            <th>Country</th>
        {% endif %}
            <th></th>
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ d.year }}</td>
        <td>{{ d.population }}</td>
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        <td><a href="/report/countrystatus/{{ d.id }}/">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>