<h2 class="page-header">Estimated Overall Gaps</h2>
<div class="exportpdfdiv">
<a href="/report/estimatedoverallgapspdf" target="_blank" class="btn btn-danger exportpdf active" role="button">Export to PDF</a>
</div>

<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Priority Area name</th>
            <th>Water Supply</th>
            <th>Sanitation</th>
            <th>Water Supply</th>
            <th>Sanitation</th>
            
            
        </tr>
    </thead>
<tbody>


    <tr>
        <td>1</td>
        <td>Jimma</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        
        
    </tr>
     <tr>
        <td></td>
        <td>Grand Total</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        
        
    </tr>
    
    
     
    


</tbody>
</table>

</div>