<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            <th>Year</th>
            <th>Coverage Target (%)</th>
            <th>Coverage Achieved (%)</th>
            <th>Funds Needed (USD)</th>
            <th>Funds Mobilized (USD)</th>
            <th>Funds Availed (USD)</th>
            <th>Funds Used (USD)</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
<!--{% for d in data %}-->

    <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.sector_category }}</td>
        <td>{{ d.year }}</td>        
        <td>{{ d.coverage_target }}</td>
        <td>{{ d.coverage_achieved }}</td>
        <td>{{ d.fund_needed }}</td>        
        <td>{{ d.fund_mobilised }}</td>
        <td>{{ d.fund_availed }}</td>
        <td>{{ d.fund_used }}</td>
        <td><a href="#">Edit</a></td>
    </tr>
    
<!--{% endfor %}-->

</tbody>
</table>

</div>