<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Latest Population</th>
            <th>Latest number of Households</th>
            <th>Latest number of Households</th>
            
        </tr>
    </thead>
<tbody>
    
    {% for p in population %}
    <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ p.priority_area }}</th>
            <th>{{ p.population }}</th>
            <th>{{ p.number_of_households }}</th>
        
       
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>Total</td>
        <td>{{ total_population }}</td>
        <td>{{ total_households }}</td>
    </tr>
    


</tbody>
</table>

</div>