
<h2 class="page-header">List of Priortiy Areas of {{ country }}</h2>
<div class="exportpdfdiv">
<a href="/report/listofpriorityareasreportpdf" target="_blank" class="btn btn-danger exportpdf active" role="button">Export to PDF</a>
</div>

<div class="table-responsive">
    
<table id="report_lists" class="table table-hover table-striped table-bordered">
    <thead id="report_head">
        
        <tr>
            <th rowspan="2">No</th>
            
            <th rowspan="2">Priority Area name</th>
            <th colspan="2" style="text-align:center">Demographic Data</th>
        </tr>
        <tr>
            <th>Latest Population</th>
            <th>Latest number of Households</th>
            
        </tr>
    </thead>
<tbody>
    
    {% for p in population %}
    <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ p.priority_area }}</th>
            <th>{{ p.population }}</th>
            <th>{{ p.number_of_households }}</th>
        
       
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>Total</td>
        <td>{{ total_population }}</td>
        <td>{{ total_households }}</td>
    </tr>
    


</tbody>
</table>

</div>