<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#report_lists').dataTable( {
					"bSort": false,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>


<div class="exportpdfdiv">
<a href="/report/listofpriorityareasreportpdf" target="_blank" class="btn btn-danger exportpdf active" role="button">Export to PDF</a>
</div>

<div class="table-responsive">
    
<table id="report_lists" class="table table-hover table-striped table-bordered">
    <thead id="report_head">
        
        <tr>
            <th rowspan="2">No</th>
            
            <th rowspan="2">Priority Area name</th>
            <th colspan="2" style="text-align:center">Demographic Data</th>
        </tr>
        <tr>
            <th>Latest Population</th>
            <th>Latest number of Households</th>
            
        </tr>
    </thead>
<tbody>
    
    {% for p in population %}
    <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.priority_area }}</td>
            <td>{{ p.population }}</td>
            <td>{{ p.number_of_households }}</td>
        
       
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <th>Total</th>
        <th>{{ total_population }}</th>
        <th>{{ total_households }}</th>
    </tr>
    


</tbody>
</table>

</div>