<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#pec').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>
<div class="table-responsive">
<table class="table table-hover table-bordered" id="pec">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            <th>Partner</th>
            <th>Event</th>
            <th>Year</th>
            <th>Contribution to Government Staff (USD)</th>
            <th>Contribution to Own Staff (USD)</th>
            <th>Total Budget Contributed</th>            
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ loop.counter }}</td>
        <td>{{ d.sector_category }}</td>
        <td>{{ d.partner }}</td>
        <td>{{ d.event }}</td>    
        <td>{{ d.year }}</td>        
        <td>{{ d.government_staff_contribution }}</td>
        <td>{{ d.own_staff_contribution }}</td>        
        <td>{{ d.total_event_contribution }}</td>
        <td><a href="/report/partnereventcontribution/{{d.id}}">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>