{% load pagination_tags %}
{% autopaginate data 30 %}
<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#pc').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>

<div class="table-responsive">
<a href="/report/viewpartnercontributionpdf" target="_blank" class="btn btn-danger btn-danger-right">Export To PDF</a>   
<table class="table table-hover table-bordered" id="pc">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            <th>Partner</th>
            <th>Annual Contribution (USD)</th>
            <th>In-kind Contribution (%)</th>
            <th>Financial Contribution (%)</th>
        {% if user.is_superuser %}
            <th>Country</th>
        {% endif %}
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ forloop.counter0|add:page.start_index }}</td>
        <td>{{ d.sector_category }}</td>
        <td>{{ d.partner }}</td>        
        <td>{{ d.annual_contribution }}</td>
        <td>{{ d.in_kind_contribution }}</td>        
        <td>{{ d.financial_contribution }}</td>
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        <td><a href="/report/partnercontributionedit/{{d.id}}">Edit</a></td>
        <td><a class="delete" href="/partnereventcontributiondelete/{{ d.id }}/delete/">Delete</a></td>
    
    </tr>
    
{% endfor %}

</tbody>
</table>

{% paginate %}
{{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.num_pages }}

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        var onDelete = function(){
            $.post(this.href, function(data) {
                if (data.result == "ok"){
                    alert("data deleted successfully");
                    location.reload();
                   
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        }

        $(".delete").click(onDelete);
    });
</script>
 