<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            <th>Year</th>
            <th>Delay in preparing plan (days)</th>
            <th>Delay in adopting plan (days)</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.sector_category }}</td>
        <td>{{ d.year }}</td>        
        <td>{{ d.plan_preparation_delay }}</td>
        <td>{{ d.plan_adoption_delay }}</td>
        <td><a href="#">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>