{% extends 'welcome.html' %}
{% block content_container %}
    {% load widget_tweaks %}
   


    {% block title %}
    <title>Priorty Areas List - {{ country }}</title>
    {% endblock %}
<h2 class="page-header">Priorty Area of {{ country }}</h2>
<div class="table-responsive">

<table id="ps" class="display" cellspacing="0" width="100%" >
    <thead>
        <tr>
            <th>#</th>
            <th>Priority Area</th>
            
            {% if user.is_superuser %}
            <th> Country</th>
        {% endif %}
            
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        
        <td>{{ forloop.counter }}</td>
        <td>{{d.name}}</td>
        
        
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        
    </tr>
    
{% endfor %}

</tbody>
</table>



</div>
<!--<script>

jQuery_1_9_1(document).ready(function() {
    jQuery_1_9_1('#ps').DataTable( {
        dom: 'T<"clear">lfrtip'
    } );
} );
</script>
-->
        <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/complete.min.js.js"></script>
        
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jQuery_1_9_1  = $.noConflict(true);
                    jQuery_1_9_1(document).ready( function () {
                        jQuery_1_9_1('#ps').dataTable( {
                       
                        dom: "<'row'<'dataTables_header clearfix'<'col-md-6'l><'col-md-6'Tf>r>>t<'row'<'dataTables_footer clearfix'<'col-md-6'i><'col-md-12'p>>>",
                        "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
                         tableTools: {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        
                        "aButtons": [
                                        {
                                            "sExtends": "copy",
                                            "mColumns": [0, 1,2],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "csv",
                                            "mColumns": [0, 1, 2],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "xls",
                                            "mColumns": [0, 1, 2],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "pdf",
                                            "mColumns": [0, 1, 2],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "print",
                                            "mColumns": [0, 1, 2],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                    ]
                        
                }
                        } );
                    } );
                </script>
{% endblock %}