{% extends 'welcome.html' %}
{% block content_container %}
    {% load widget_tweaks %}
   



<h2 class="page-header">Priorty Area of {{ country }}</h2>
<div class="table-responsive">

<table id="ps" class="display" cellspacing="0" width="100%" >
    <thead>
        <tr>
            <th>#</th>
            <th>Priority Area</th>
            
            {% if user.is_superuser %}
            <th> Country</th>
        {% endif %}
            
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        
        <td>{{ forloop.counter0|add:page.start_index }}</td>
        <td>{{d.name}}</td>
        
        
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        
    </tr>
    
{% endfor %}

</tbody>
</table>



</div>
<!--<script>

jQuery_1_9_1(document).ready(function() {
    jQuery_1_9_1('#ps').DataTable( {
        dom: 'T<"clear">lfrtip'
    } );
} );
</script>
-->
        <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/complete.min.js.js"></script>
        
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jQuery_1_9_1  = $.noConflict(true);
                    jQuery_1_9_1(document).ready( function () {
                        jQuery_1_9_1('#ps').dataTable( {
                        dom: 'T<"clear">lfrtip',
                         tableTools: {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
                }
                        } );
                    } );
                </script>
{% endblock %}