<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#ps').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>

<div class="table-responsive">
<a href="/report/viewprioritystatuspdf" target="_blank" class="btn btn-danger btn-danger-right">Export To PDF</a>   
<table class="table table-striped table-bordered" id="ps">
    <thead>
        <tr>
            <th>#</th>
            <th>Priority Area</th>
            <th>Year</th>
            <th>Population</th>
            <th># of Households</th>
        {% if user.is_superuser %}
            <th>PA - Country</th>
        {% endif %}
            <th></th>
        </tr>
    </thead>
<tbody>

{% for d in data %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{d.priority_area.name}}</td>
        <td>{{ d.year }}</td>
        <td>{{ d.population }}</td>
        <td>{{ d.number_of_households }}</td>
    {% if user.is_superuser %}
        <td>{{ d.priority_area }}</td>
    {% endif %}
        <td><a href="/report/PriorityStatus/{{ d.id }}">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>