

<div class="table-responsive">

<table class="display" cellspacing="0" width="100%" id="sc">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            {% if user.is_superuser %}
            <th>Country</th>
            {% endif %}
            <th>Overall Challenges</th>
            <th>Strengths</th>
            <th>Weaknesses</th>
            <th>Opportunity</th>
            <th>Risks</th>
            <th>Measurement of Mitigation</th>
            <th>Recommendation KAP</th>
            <th>Conclusion</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ forloop.counter0|add:page.start_index }}</td>
        <td>{{ d.sector_category }}</td>
        {% if user.is_superuser %}
        <td>{{ d.country }}</td>
        {% endif %}
        <td>{{ d.overall_challenges }}</td>        
        <td>{{ d.strengths }}</td>
        <td>{{ d.weaknesses }}</td>
        <td>{{ d.opportunities }}</td>        
        <td>{{ d.risks }}</td>
        <td>{{ d.mitigation_measures }}</td>
        <td>{{ d.kap_recommendations }}</td>
        <td>{{d.conclusion}}</td>
    
        
        <td><a href="/report/swotedit/{{d.id}}">Edit</a></td>
        <td><a class="delete" href="/swotdelete/{{ d.id }}/delete/" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    
    </tr>
    
{% endfor %}

</tbody>
</table>



</div>
<script src="//ajax.microsoft.com/ajax/jQuery/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
    var jQuery_1_9_1  = $.noConflict(true);
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    jQuery_1_9_1(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        jQuery_1_9_1.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        
        var onDelete = function(){
            jQuery_1_9_1.post(this.href, function(data) {
                if (data.result == "ok"){
                    
                    location.reload();
                   
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        }

        jQuery_1_9_1(".delete").click(onDelete);
    });
</script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jQuery_1_9_1  = $.noConflict(true);
                    jQuery_1_9_1(document).ready( function () {
                        jQuery_1_9_1('#sc').dataTable( {
                        dom: 'T<"clear">lfrtip',
                        //"bPaginate": false,
                        //"info":     false,
                        tableTools: {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                                        {
                                            "sExtends": "copy",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                        },
                                        {
                                            "sExtends": "csv",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                        },
                                        {
                                            "sExtends": "xls",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                        },
                                        {
                                            "sExtends": "pdf",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                        },
                                        {
                                            "sExtends": "print",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                        },
                                    ]
                                    }
                
                        }
                        
                        );
                    } );
                </script>
 