

<div class="table-responsive">
<a href="/report/viewswotconclusionpdf" target="_blank" class="btn btn-danger btn-danger-right">Export To PDF</a>   
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Sector Category</th>
            <th>Overall Challenges</th>
            <th>Strengths</th>
            <th>Recommendation KAP</th>
            <th>Opportunity</th>
            <th>Risks</th>
            <th>Measurement of Mitigation</th>
            <th>Weaknesses</th>
            <th>Conclusion</th>
        {% if user.is_superuser %}
            <th>Country</th>
        {% endif %}
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ d.sector_category }}</td>
        <td>{{ d.overall_challenges }}</td>        
        <td>{{ d.strengths }}</td>
        <td>{{ d.weaknesses }}</td>
        <td>{{ d.opportunities }}</td>        
        <td>{{ d.risks }}</td>
        <td>{{ d.mitigation_measures }}</td>
        <td>{{ d.kap_recommendations }}</td>
        <td>{{d.conclusion}}</td>
    {% if user.is_superuser %}
        <td>{{ d.country }}</td>
    {% endif %}
        
        <td><a href="/report/swot/{{d.id}}">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>