
<h2 class="page-header">Technology Gap Clustered By PA</h2>


<div class="table-responsive">
    <div class="exportpdfdiv">
<a href="/report/technologygapclusteredbypa" target="_blank" class="btn btn-danger exportpdf active" role="button">Export to PDF</a>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Priority Area name</th>
            <th>Year</th>
            <th>Number</th>
            <th>Unit Cost(USD)</th>
            <th>Total Cost(USD)</th>
            <th>Govt Contribution(USD)</th>
            <th>Population affected</th>
            
        </tr>
    </thead>
<tbody>


    <tr>
        <td rowspan="3">1</td>
        <td rowspan="3">Jimma</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>5843</td>
        
    </tr>
    <tr>
        
        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>5843</td>
        
    </tr>
    <tr>
        
        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>5843</td>
        
    </tr>
    <tr>
        <td></td>
        <td>Total</td>
        <td>4234</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        
        
    </tr>
     <tr>
        <td></td>
        <td>Grand Total</td>
        <td>4234</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        
        
    </tr>
    


</tbody>
</table>

</div>