
<div class="table-responsive">
   
    
<table id="ta" class="display-small" cellspacing="0" width="100%" >
    <thead>
        <tr>
            <th>#</th>
            <th>Priority Area</th>
            <th>Country</th>
            <th>Sector Cat.</th>
            <th>Technology</th>
            <th>Year</th>
            <th>No of Facilities Planned</th>
            <th>Pop Planned</th>
            <th>No of Facilities Reported</th>
            <th>Pop Reached</th>
            <th>No of Tech Secured</th>
            <th>Pop Secured</th>
            <th>Unit Cost (USD)</th>
            <th>Household Contribution (%)</th>
            <th>Government Contribution (%)</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
    
{% for d in data %}

    <tr>
        <td>{{ forloop.counter0|add:page.start_index }}</td>        
        <td>{{ d.priority_area }}</td>
        <td>{{ d.getpacountru }}</td>
        <td>{{ d.getsectorcat }}</td>
        <td>{{ d.technology }}</td>
        <td>{{ d.year }}</td>        
        <td>{{ d.planned|default_if_none:0 }}</td>
        <td>{{ d.planned_pop_affected|default_if_none:0 }}</td>
        <td>{{ d.actual|default_if_none:0 }}</td>
        <td>{{ d.actual_pop_affected|default_if_none:0 }}</td>
        <td>{{ d.secured|default_if_none:0 }}</td>
        <td>{{ d.secured_pop_affected|default_if_none:0 }}</td>
        <td>{{ d.unit_cost|default_if_none:0 }}</td>        
        <td>{{ d.house_hold_contribution|default_if_none:0.00 }}</td>
        <td>{{ d.government_contribution|default_if_none:0.00 }}</td>
        <td><a href="/report/facilityaccessedit/{{d.id}}">Edit</a></td>
        <td><a class="delete" href="/facilityaccessdelete/{{ d.id }}/delete/" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    
    </tr>
    
{% endfor %}

</tbody>
</table>




</div>

<script src="//ajax.microsoft.com/ajax/jQuery/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
    var jQuery_1_9_1  = $.noConflict(true);
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    jQuery_1_9_1(document).ready(function() {

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        jQuery_1_9_1.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // This function must be customized
        
        var onDelete = function(){
            jQuery_1_9_1.post(this.href, function(data) {
                if (data.result == "ok"){
                    
                    location.reload();
                   
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        }

        jQuery_1_9_1(".delete").click(onDelete);
    });
</script>

        <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jQuery_1_9_1  = $.noConflict(true);
                    jQuery_1_9_1(document).ready( function () {
                        jQuery_1_9_1('#ta').dataTable( {
                        dom: "<'row'<'dataTables_header clearfix'<'col-md-6'l><'col-md-6'Tf>r>>t<'row'<'dataTables_footer clearfix'<'col-md-6'i><'col-md-12'p>>>",
                        "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
                        tableTools: {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                                        {
                                            "sExtends": "copy",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "csv",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "xls",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "pdf",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            "sPdfOrientation": "landscape",
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                        {
                                            "sExtends": "print",
                                            "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                                            "oSelectorOpts": {
                                            page: 'current'
                                                    }
                                        },
                                    ]
                                    }
                
                        }
                        
                        );
                    } );
                </script>
 