<h2 class="page-header">Technology Gap Clustered By PA</h2>
<div class="exportpdfdiv">
<a href="/report/technologiesgapsforthecategorypdf" target="_blank" class="btn btn-danger exportpdf active" role="button">Export to PDF</a>
</div>
<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Priority Area name</th>
            <th>Character</th>
            <th>Technology</th>
            <th>Number</th>
            <th>Unit Cost(USD)</th>
            <th>Total Cost (USD</th>
            <th>Govt Contribution(USD)</th>
            <th>Population affected</th>
            
        </tr>
    </thead>
<tbody>

{% for gap_c in gaps_by_category %}
{% for gap_fc in gap_c.gaps_by_characteristic %}
{% for gap_t in gap_fc.gaps_by_technology %}
    {% if forloop.first %}
    <tr>
        <td rowspan="{{ rows|add:"1" }}">{{ forloop.parentloop.parentloop.counter }}</td>
        <td rowspan="{{ gap_c.rows }}">{{ gap_c.priority_area }}</td>        
        <td rowspan="{{ gap_fc.rows }}">{{ gap_fc.characteristic }}</td>        
        <td>{{ gap_t.technology }}</td>
        <td>{{ gap_t.number }}</td>       
        <td>{{ gap_t.unit_cost }}</td>
        <td>{{ gap_t.total_cost }}</td>
        <td>{{ gap_t.government_contribution }}</td>
        <td>{{ gap_t.population_affected }}</td>
    </tr>
    {% else %}
    <tr>
        <td>{{ gap_t.technology }}</td>
        <td>{{ gap_t.number }}</td>       
        <td>{{ gap_t.unit_cost }}</td>
        <td>{{ gap_t.total_cost }}</td>
        <td>{{ gap_t.government_contribution }}</td>
        <td>{{ gap_t.population_affected }}</td>    
    </tr>
    {% endif %}
    {% if forloop.last %}
     <tr>
        <td rowspan="{{ gap_c.rows }}">Total</td>        
        <td rowspan="{{ gap_fc.rows }}"></td>        
        <td></td>
        <td>{{ gap_t.number }}</td>       
        <td>{{ gap_t.unit_cost }}</td>
        <td>{{ gap_t.total_cost }}</td>
        <td>{{ gap_t.government_contribution }}</td>
        <td>{{ gap_t.population_affected }}</td>  
    </tr>
    {% endif %}
{% endfor %}
{% endfor %}
{% endfor %}


</tbody>
</table>

</div>