<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Priority Area name</th>
            <th></th>
            <th>Character</th>
            <th>Technology</th>
            <th>Number</th>
            <th>Unit Cost(USD)</th>
            <th>Total Cost (USD</th>
            <th>Govt Contribution(USD)</th>
            <th>Population affected</th>
            
        </tr>
    </thead>
<tbody>


    <tr>
        <td>1</td>
        <td>Jimma</td>
        <td></td>        
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>5843</td>
        <td>7686</td>
        <td>7686</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>3676</td>
        <td>3676</td>
        
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td>Grand Total</td>        
        <td>4324</td>
        <td>5435</td>
        <td>5435</td>        
        <td>4556</td>
        <td>9444</td>
        <td>7867</td>
        <td>7867</td>
        
    </tr>
    


</tbody>
</table>

</div>