<script type="text/javascript">
				/* Table initialisation */
			$(document).ready(function() {
				$('#tpp').dataTable( {
					"bSort": true,        // Disable sorting
					"iDisplayLength": 5,   // records per page
					"sDom": "t<'row'<'col-md-6'i><'col-md-6'p>>",
					"sPaginationType": "bootstrap"
				});
			});
		</script>
<div class="table-responsive">
    
<table class="table table-striped table-bordered" id="tpp">
    <thead>
        <tr>
            <th>#</th>
            
            <th>Tender & Proc. Property - Sector Category</th>
            <th>Year</th>
            <th>Number Registered</th>
            <th>Number Executed</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
<tbody>
{% for d in data %}

    <tr>
        <td>{{ forloop.counter }}</td>
        
        <td>{{ d.tender_procedure_property }}</td>
        <td>{{ d.year }}</td>        
        <td>{{ d.registered }}</td>
        <td>{{ d.executed }}</td>
        <td><a href="/report/TenderProcPerformance/{{ d.id }}">Edit</a></td>
    </tr>
    
{% endfor %}

</tbody>
</table>

</div>