body {
padding-top: 70px;
}

.navbar-inverse {

border-color: green;
}
.navbar-inverse .navbar-nav>li>a {
color: #ffffff;
font-weight: bold;
}
.nav-header {
display: block;
padding: 3px 15px;
font-size: 11px;
font-weight: bold;
line-height: 20px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: uppercase;
}

