body {
padding-top: 70px;
}

.navbar-inverse {

border-color: green;
}
.navbar-inverse .navbar-nav>li>a {
color: #ffffff;
font-weight: bold;
}
.nav-header {
display: block;
padding: 3px 15px;
font-size: 11px;
font-weight: bold;
line-height: 20px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: uppercase;
}
.boarder {
margin-left: 0;
margin-right: 0;
background-color: #D6D6D6;
border-width: 1px;
border-color: #ddd;
border-radius: 4px 4px 0 0;
box-shadow: none;
padding-right: 40px;
padding-left: 20px;
padding-bottom: 10px;
padding-top: 10px;

}
.lead {
text-align: center;

}
.lead {
text-align: center;
font-size:small;
}
.jumbotron
{
padding-top: 10px;
}
.jumbotron a
{
  float: right;
}
.sidedivflag
{
  padding-top: 150px;
}
.sidedivau
{
  padding-top:120px;
}
.img-thumbnail-home {
display: inline-block;
width: 100%;
max-width: 100%;
height: auto;
padding: 4px;
line-height: 1.42857143;
background-color: #fff;

transition: all .2s ease-in-out;
}
.container .jumbotron {
padding-right: 5px;
padding-left: 5px;
}
.jumbotron p
{
  font-size: 16px;
}