	
    {% load widget_tweaks %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	
	
	<title>AU Water and Sanitation Goals in Africa</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	
	<!-- Custom styles for this template -->
	<link href="/static/css/starter-template.css" rel="stylesheet">

	
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="/static/js/ie-emulation-modes-warning.js"></script>

	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	
	<body>
	
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#"></a>

	</div>
	<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
	{% if user.is_authenticated %}
	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submit Reports<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">DEMOGRAPHIC</li>
                    <li><a href="/report/CountryStatus">Country Status Data</a></li>
                    <li><a href="/report/PriorityStatus">Priority Status Data</a></li>
                                        
                    <li class="divider"></li>
                    <li class="nav-header">FACILITY</li>
                    <li><a href="/report/FacilityAccess">Access to Watson Facilities</a></li>
                    <li><a href="/report/SectorPerformance">Sector Performance</a></li>
                    <li><a href="/report/PlanningPerformance">Planning Performance</a></li>
                    <li><a href="/report/TenderProcPerformance">Tender & Pro. Performance</a></li>
                    <li><a href="/report/CommunityApproach">Communities Approach</a></li>
                    <li><a href="/report/PartnerContribution">Partner Contribution to Country</a></li>
                    <li><a href="/report/PartnerEventContribution">Partner Contribution to Events</a></li>
                    <li><a href="/report/swot">Sector SWOT & Conclusion</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">REPORT</li>
                    <li><a href="#">Generate</a></li>
                  </ul>                  
                </li>

	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Log Out</a></li>
                    
                  </ul>
                </li>
	{% if user.is_superuser %}
	<li><a href="/admin">Administration</a></li>
	  {% endif %}
	
	  {% endif %} <!-- end if authenticated -->
	</ul>
	</div><!--/.nav-collapse -->
	</div>
	</div>
	
	<div class="container">
	
	<div class="starter-template">
            <div class ="row">
		    {% block left_navigation %}
                <div class ="col-md-4">
		    {% if not user.is_authenticated %}
		    {% block home_african_map %}
			      <div class="sidedivau">
					<!-- <img src="../media/african_flag.png" alt="african Flag" class="img-african flag"> -->
					<img src="../media/logo_au.png" alt="AU logo" class="img-thumbnail-home">
			      </div>
		    {% endblock %}
		    {% endif %}
		    
		    {% if user.is_authenticated %}
                     <div>
        	
		    <ul class="nav nav-pills nav-stacked">
		    <li class="nav-header">DEMOGRAPHIC</li>
                    <li><a href="/report/CountryStatus">Country Status</a></li>
                    <li><a href="/report/PriorityStatus">Priority Status</a></li>
                                        
                    <li class="divider"></li>
                    <li class="nav-header">FACILITY</li>
                    <li><a href="/report/FacilityAccess">Access to Watson Facilities</a></li>
                    <li><a href="/report/SectorPerformance">Sector Performance</a></li>
                    <li><a href="/report/PlanningPerformance">Planning Performance</a></li>
                    <li><a href="/report/TenderProcPerformance">Tender & Pro. Performance</a></li>
                    <li><a href="/report/CommunityApproach">Communities Approach</a></li>
                    <li><a href="/report/PartnerContribution">Partner Contribution to Country</a></li>
                    <li><a href="/report/PartnerEventContribution">Partner Contribution to Events</a></li>
                    <li><a href="/report/swot">Sector SWOT & Conclusion</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">REPORT</li>
                    <li><a href="#">Generate</a></li>
            </ul> 
		    </div>
		     {% endif %}
		    
                </div>
		 {% endblock %}
		
          <div class="col-md-4">
          {% block content_container %}
	  <div class="jumbotron">
		    <img src="../media/header.png" alt="AU" class="img-thumbnail">
		    <p class="lead"><u>Template for National Need Assessment</u><br>
									      for preparing the Kagame Action Plan for operationalizing the January 2014 African Union
									      <br>
									      Assembly Decision AU/DEC. 516 (XXII) on the implementation of the July 2008 Sharm EI-Sheikh
									      <br>
									      Commitments for Accelerating the Achievement of Water and Sanitation Goals in Africa.</p>
		    <span>The current template intends to compile information related to the country national actions
		    programming for water supply and sanitation in rural and urban poor settlements
		    for the coming years, while highlighting the anticipated gaps for the year 2015
		    for reaching the MDGs targets in specific Priority Areas. Priority Area in this
		    document refers to a geographical setting classified as rural or urban poor
		    (periurban) that is controlled by a Municipality or any related national
		    Authority. Focus of the gap assessment is placed on the existing technologies,
		    the management, institutional and funding approaches that are already in use
		    for the communities. The Kagame Action Plan will base on those gaps and the
		    identified strengths and weaknesses of the implementation of the national
		    water and sanitation programmes, to define necessary interventions to quickly
		    close the anticipated gaps for the end 2015.</span>
		    {% if not user.is_authenticated %}
			  <a href="/login" class="btn btn-primary active" role="button">Login</a>
			  {% endif %}
			  {% endblock %}
		  </div>
			  
	
	</div>
	  <div class="col-md-4">
		    {% block African_flag%}
			      {% if not user.is_authenticated %}
			      <div class="sidedivflag">
					<img src="../media/african_flag.png" alt="african Flag" class="img-thumbnail-home">
					<!-- <img class="sidedivau" src="../media/logo_au.png" alt="AU logo" class="img-AU logo"> -->
			      </div>
			      {% endif %}
		    {% endblock %}
	  </div>
	{% if user.is_authenticated %}
	{% block change_password %}
	<div class="odal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Change Password</h4>
		</div>
		<div class="modal-body">
		  <form method="post" action="/changepassword/?after_change_password={{ request.get_full_path }}" role="form">{% csrf_token %}
		  <input type="hidden" name="after_change_password" value="{{ request.path }}" />
		  <input type="hidden" name="form_id" value="change_password_form" />
		    <div class="form-group">
		       <label for="id_old_password">Old password</label><br/>
		       <input id="id_old_password" name="old_password" type="password" class+="form-control" />
		    </div>
		    <div class="form-group">
		       <label for="id_new_password1">New password</label><br/>
		       <input id="id_new_password1" name="new_password1" type="password" class+="form-control" />
		    </div>
		    <div class="form-group">
		       <label for="id_new_password2">Confirmation</label><br/>
		       <input id="id_new_password2" name="new_password2" type="password" class+="form-control" >
		    </div>
		    <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Change Password</button>
		    </div>

    </form>

 
		</div>
		
	      </div>
	    </div>
	  </div>
	{% endblock %}
	{% endif %}
	</div><!-- /.container -->
	
        </div>
	</div>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>	
	<script src="/static/js/prototype.js"></script>
	<script type="text/javascript" charset="utf-8">	        
	    
	    function FilterPriorityAreas(sel_val) {
		    var priorityAreaList = $('id_priority_area');
		    for (var count = priorityAreaList.options.length-1; count >-1; count--){
			    priorityAreaList.options[count] = null;
		    }
		    priorityAreaList.options[0] = new Option('Loading...', '-1', false, false);
		    priorityAreaList.disabled = true;
	    
		    // var makeList = $('id_make');
		    // var make_id = makeList.options[makeList.selectedIndex].value;
		    var country = $('id_country')
		    var country_id = country.options[country.selectedIndex].value;
		    if (country_id > 0){
		    //if (make_id > 0) {
			    new Ajax.Request('/feeds/priority-areas-by-country-id/' + country_id + '/', {
			    //new Ajax.Request('/feeds/models-by-make-id/' + make_id + '/', {
				    method: 'get',
				    onSuccess: function(transport){
					    var response = transport.responseText || 'no response text';
					    var kvpairs = response.split("\n");
					    for (i=0; i<kvpairs.length - 1; i++) {
						    m = kvpairs[i].split(";");
						    var option = new Option(m[1], m[0], false, false);
						    priorityAreaList.options[i] = option;
					    }
					    priorityAreaList.disabled = false;
					    if (sel_val > 0) {
						    priorityAreaList.value = sel_val;
					    }
				    },
				    onFailure: function(){
					    alert('An error occured trying to filter the model list.');					    
					    priorityAreaList.disabled = false;
				    }
			    });
		    }
		    else {
			    priorityAreaList.options[0] = new Option('Select Priority Area', '-1', false, false);
			    priorityAreaList.disabled = true;
		    }
	    }
	    
	    function FilterFacilityCharacters(sel_val) {		    
		    var facList = $('id_facility_character');
		    for (var count = facList.options.length-1; count >-1; count--){
			    facList.options[count] = null;
		    }
		    facList.options[0] = new Option('Loading...', '-1', false, false);
		    facList.disabled = true;
		    FilterTechnologies()
		    // var makeList = $('id_make');
		    // var make_id = makeList.options[makeList.selectedIndex].value;
		    var category = $('id_sector_category')
		    var category_id = category.options[category.selectedIndex].value;
		    if (category_id > 0){
		    //if (make_id > 0) {
			    new Ajax.Request('/feeds/facility-characters-by-sector-category-id/' + category_id + '/', {
			    //new Ajax.Request('/feeds/models-by-make-id/' + make_id + '/', {
				    method: 'get',
				    onSuccess: function(transport){
					    var response = transport.responseText || 'no response text';
					    var kvpairs = response.split("\n");
					    for (i=0; i<kvpairs.length - 1; i++) {
						    m = kvpairs[i].split(";");
						    var option = new Option(m[1], m[0], false, false);
						    facList.options[i] = option;
					    }
					    facList.disabled = false;
					    if (sel_val > 0) {
						    facList.value = sel_val;
					    }
				    },
				    onFailure: function(){
					    alert('An error occured trying to filter the Facility Characteristics list.');					    
					    facList.disabled = true;
				    }
			    });
		    }
		    else {
			    facList.options[0] = new Option('Select Facility Characteristic', '-1', false, false);
			    facList.disabled = true;
		    }
	    }
	    
	    function FilterTechnologies(sel_val) {
		    var techList = $('id_technology');
		    for (var count = techList.options.length-1; count >-1; count--){
			    techList.options[count] = null;
		    }
		    techList.options[0] = new Option('Loading...', '-1', false, false);
		    techList.disabled = true;
	    
		    // var makeList = $('id_make');
		    // var make_id = makeList.options[makeList.selectedIndex].value;
		    var facility = $('id_facility_character')
		    var facility_id = facility.options[facility.selectedIndex].value;
		    if (facility_id > 0){
		    //if (make_id > 0) {
			    new Ajax.Request('/feeds/technologies-by-facility-character-id/' + facility_id + '/', {
			    //new Ajax.Request('/feeds/models-by-make-id/' + make_id + '/', {
				    method: 'get',
				    onSuccess: function(transport){
					    var response = transport.responseText || 'no response text';
					    var kvpairs = response.split("\n");
					    for (i=0; i<kvpairs.length - 1; i++) {
						    m = kvpairs[i].split(";");
						    var option = new Option(m[1], m[0], false, false);
						    techList.options[i] = option;
					    }
					    techList.disabled = false;
					    if (sel_val > 0) {
						    techList.value = sel_val;
					    }
				    },
				    onFailure: function(){
					    alert('An error occured trying to filter the Technologies list.');					    
					    techList.disabled = true;
				    }
			    });
		    }
		    else {
			    techList.options[0] = new Option('Select Technology', '-1', false, false);
			    techList.disabled = true;
		    }
	    }
	    
	</script>
	</body>
	</html>
	

