{% extends 'welcome.html' %}
{% block content_container %}
    {% load widget_tweaks %}
    <!-- 
    <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
    !-->
    
   

    
    <div class ="col-md-6">
    <h2 class="page-header">Community Approach</h2>
    <form action="" method="post" role="form">
        {% csrf_token %}
     
        
        <div class="form-group{% if form.country.errors %} has-error{% endif %}">
            <label for="id_country">Country:</label>
            {% render_field form.country class+="form-control" %}
            </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_sector_category">Sector Category</label>
            {% render_field form.sector_category class+="form-control" %}
            </select>
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_approach_type">Approach Type</label>
            {% render_field form.approach_type class+="form-control" %}
            </select>
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_approach_name">Approach Name</label>
            <input id="id_approach_name" maxlength="120" name="approach_name" type="text" class="form-control" />
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_year">Year of Initiation</label>
            <input id="id_year" min="0" name="year" type="number" title="Only numbers/year are allowed" class="form-control" />
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_approach_name">Approach Name</label>
            <input id="id_approach_name" maxlength="120" name="approach_name" type="text" class="form-control" />
        </div>
            <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_description">Short Description</label>
            <textarea cols="40" id="id_description" name="description" rows="3" class="form-control">
            </textarea>
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">    
            <label for="id_cost_per_capita">Cost/Capita(USD)</label>
            <input id="id_cost_per_capita" name="cost_per_capita" step="0.0001" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_lessons_learnt">Lessons Learnt</label>
            <textarea cols="40" id="id_lessons_learnt" name="lessons_learnt" class="form-control" rows="3">
            </textarea>
        </div>
            <input type="submit" value="Submit" />
    </form>
    </div>

{% endblock %}