{% extends 'welcome.html' %}

{% block content_container %}
  {% load widget_tweaks %}
 <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <h2 class="page-header">Access to Water & Sanitation Technology for {{ country }}</h2>
  
  <div class="container msg-scc" id='message' >
               {% if messages %}
           <div class="row">
            <div  class="succuess col-sm-6">
              {% for message in messages %}
                   <p {% if message.tags == "success" %}
                      class="alert alert-success">{{ message }}
                      {% endif %}
                   </p>
                   <p {%if message.tags == "error" %}
                      class="alert alert-danger">{{ message }}
                      {% endif %}
                   </p>
                     {% endfor %}
            </div>
           </div>
               {% endif %}
    </div>
  
  <ul class="nav nav-tabs" id="tab1">
      <li class="active"><a href="#list" data-toggle="tab">List</a></li>
      <li><a href="#add" data-toggle="tab">Add</a></li>
      
   </ul>
    
<!-- Tab panes -->
   <div class="tab-content">
      <div class="tab-pane" id="add">
        <!--<div class="alert alert-warning">Fields in <strong>bold</strong> are required.</div> -->
   <div class ="col-md-6">
    
    <form action="" method="post" role="form">
        {% csrf_token %}
        
    <div class="col-md-6 form-group">

        <div class="form-group{% if form.priority_area.errors %} has-error{% endif %}">           
                <label for="id_priority_area">Priority Area</label>
                <a href="/admin/dashboard/priorityarea/add/"  class="add-another" id="add_id_priority_area" onclick="return showAddAnotherPopup(this);">
               <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>[Add]</a>
                {% render_field form.priority_area class+="form-control" tabindex+="1" %}
                {% if form.priority_area.errors %}
                  {{ form.priority_area.errors }}
                {% endif %}
                
            </div>
        
        
        <div class="form-group{% if form.facility_character.errors %} has-error{% endif %}">
            <label for="id_facility_character">Facility Character</label>
            {% render_field form.facility_character class+="form-control" tabindex+="3" %}
            {% if form.facility_character.errors %}
                  {{ form.facility_character.errors }}
            {% endif %}
        </div>
        
       
    </div>
     <div class="col-md-6 form-group">
            <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
                <label for="id_sector_category">Sector Category</label>
                {% render_field form.sector_category class+="form-control" tabindex+="2" %}
                {% if form.sector_category.errors %}
                  {{ form.sector_category.errors }}
                {% endif %}
            </div>
            <div class="form-group{% if form.technology.errors %} has-error{% endif %}">
                <label for="id_technology">Technology</label>
                {% render_field form.technology class+="form-control" tabindex+="4" %}
                {% if form.technology.errors %}
                  {{ form.technology.errors }}
                {% endif %}
            </div>
            
            
    </div>
     
     
            <div class="col-md-12 form-group">  
                 <div class="form-group{% if form.year.errors %} has-error{% endif %}">
                        <label for="id_year">Year</label>
                        {% render_field form.year class+="form-control" tabindex+="5" %}
                        {% if form.year.errors %}
                            {{ form.year.errors }}
                        {% endif %}
                        
                </div>
                
            </div>
           <h4 class="formtitle">Enter values for each year</h4>
            <div class="col-md-6 form-group">
                <div class="form-group{% if form.planned.errors %} has-error{% endif %}">
                    <label for="id_planned">No.Tech Planned</label>
                    <input id="id_planned" name="planned" step="0" type="number" class="form-control" tabindex="6" title="Only number allowed" value="{{ form.planned.value }}" />
 
                    {% if form.planned.errors %}
                            {{ form.planned.errors }}
                    {% endif %}
                </div>
                <div class="form-group{% if form.actual.errors %} has-error{% endif %}">
                    <label for="id_actual">No.Tech Reported</label>
                    <input id="id_actual" name="actual" step="0" value="{{ form.actual.value }}" type="number" class="form-control" tabindex="8" title="Only number allowed"/>
                    {% if form.planned.errors %}
                            {{ form.planned.errors }}
                    {% endif %}
                </div>
                <div class="form-group{% if form.secured.errors %} has-error{% endif %}">
                    <label for="id_secured">No.Tech secured</label>
                    <input id="id_secured" name="secured" step="0" type="number" value="{{ form.secured.value }}" class="form-control" tabindex="10" title="Only number allowed" />
                    {% if form.secured.errors %}
                            {{ form.secured.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="form-group{% if form.planned_pop_affected.errors %} has-error{% endif %}">
                    <label for="id_planned_pop_affected">Pop planned</label>
                    <input id="id_planned_pop_affected" name="planned_pop_affected" step="0" value="{{ form.planned_pop_affected.value }}" type="number" class="form-control" tabindex="7" title="Only number allowed"/>
                    {% if form.planned_pop_affected.errors %}
                            {{ form.planned_pop_affected.errors }}
                    {% endif %}
                </div>
                <div class="form-group{% if form.actual_pop_affected.errors %} has-error{% endif %}">
                    <label for="id_actual_pop_affected">Pop reached</label>
                    <input id="id_actual_pop_affected" name="actual_pop_affected" step="0" type="number" value="{{ form.actual_pop_affected.value }}" class="form-control" tabindex="9" title="Only number allowed"/>
                    {% if form.actual_pop_affected.errors %}
                            {{ form.actual_pop_affected.errors }}
                    {% endif %}
                </div>
                <div class="form-group{% if form.secured_pop_affected.errors %} has-error{% endif %}">
                    <label for="id_secured_pop_affected">Pop secured</label>
                    <input id="id_secured_pop_affected" name="secured_pop_affected" step="0" type="number" value="{{ form.secured_pop_affected.value }}" class="form-control" tabindex="11" title="Only number allowed"/>
                    {% if form.secured_pop_affected.errors %}
                            {{ form.secured_pop_affected.errors }}
                    {% endif %}
                </div>
            </div>
        <div class="col-md-12 form-group">
            <div class="form-group{% if form.unit_cost.errors %} has-error{% endif %}" >
                <label for="id_unit_cost">Unit Cost(USD)</label>
                <input id="id_unit_cost" name="unit_cost" type="number" class="form-control" value="{{ form.unit_cost.value }}" min="0" max="9999999" step="0.01" size="4" 
                title="Currency Format - no dollar sign and no comma(s) - cents (.##) are optional" tabindex="12" />
                {% if form.unit_cost.errors %}
                    {{ form.unit_cost.errors }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="form-group{% if form.house_hold_contribution.errors %} has-error{% endif %}">
                <label for="id_house_hold_contribution">% House Hold Contribution:</label>
                <input id="id_house_hold_contribution" name="house_hold_contribution" type="number" min="0" max=100 value="{{ form.house_hold_contribution.value }}" step="0.01" size="4"  title="Only numbers/year are allowed" class="form-control" tabindex="13" />
                {% if form.house_hold_contribution.errors %}
                    {{ form.house_hold_contribution.errors }}
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="form-group{% if form.government_contribution.errors %} has-error{% endif %}">
                <label for="id_government_contribution">% Government Contribution:</label>
                <input id="id_government_contribution" name="government_contribution"  type="number" min="0" max=100 value="{{ form.government_contribution.value }}" step="0.01" size="4"  title="Only numbers/year are allowed" class="form-control" tabindex="14" />
                {% if form.government_contribution.errors %}
                    {{ form.government_contribution.errors }}
                {% endif %}
            </div>
        </div>
         <div class="bt-submit">
            <button type="submit" class="btn btn-success">Save</button>
        
            <button type="submit" class="btn btn-primary" id="save_add" name="save_add">Save & Add</button>
         
            <button type="reset" class="btn btn-danger">Cancel</button>
         </div>
    </form>
   </div>
   </div>
  <div class="tab-pane active col-md-8" id="list">
    {% include "snippets/technology_access_list.html" %}
  </div>
</div>
<script>
    FilterFacilityCharacters({{ form.facility_character.value.id }});
    FilterTechnologiesNew({{ form.technology.value.id }},{{ form.facility_character.value.id }});
    
</script>
<h1></h1>
{% endblock %}