{% extends 'welcome.html' %}
{% block content_container %}
    {% load widget_tweaks %}
    
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <!-- <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
    !-->
     <div class ="col-md-6">
    <h2 class="page-header">Partner Contribution to Country</h2>
    <form action="" method="post">
        {% csrf_token %}
       
        <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                <label for="id_country">Country</label>
                {% render_field form.country class+="form-control" %}
            </div>
        <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
                <label for="id_sector_category">Sector Category</label>
                {% render_field form.sector_category class+="form-control" %}
                </select>
            </div>
        <div class="form-group{% if form.partner.errors %} has-error{% endif %}">
            <label for="id_partner">Partner</label>
            <a href="/admin/dashboard/partner/add/"  class="add-another" id="add_id_partner" onclick="return showAddAnotherPopup(this);">
                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>[Add Partner]</a>
            {% render_field form.partner class+="form-control" %}
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_annual_contribution">Annual Contribution</label>
            <input id="id_annual_contribution" name="annual_contribution" step="0.0001" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_in_kind_contribution">% In kind Contribution</label>
            <input id="id_in_kind_contribution" name="in_kind_contribution" step="0.01" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_financial_contribution">% Financial Contribution</label>
            <input id="id_financial_contribution" name="financial_contribution" step="0.01" type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
     </div>

{% endblock %}