{% extends 'base.html' %}
{% block content_container %}
    {% load widget_tweaks %}
    
    <!-- <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
    !-->
    <h1>Partner Contribution to Events</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                <label for="id_country">Country:</label>
                {% render_field form.country class+="form-control" %}
            </div>
        <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
            <label for="id_sector_category">Sector Category</label>
            {% render_field form.sector_category class+="form-control" %}
            </select>
        </div>
       
        <div class="form-group{% if form.partner.errors %} has-error{% endif %}">
            <label for="id_partner">Partner</label>
            {% render_field form.partner class+="form-control" %}
        </div>
        <div class="form-group{% if form.event.errors %} has-error{% endif %}">
            <label for="id_event">Event</label>
            {% render_field form.event class+="form-control" %}
        </div>
         <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_year">Partner Contribution for the Year</label>
            <input id="id_year" min="0" name="year" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.government_staff_contribution.errors %} has-error{% endif %}">
            <label for="id_government_staff_contribution">Contribution to Government Staff</label>
            <input id="id_government_staff_contribution" name="government_staff_contribution" step="0.0001" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.own_staff_contribution.errors %} has-error{% endif %}">
            <label for="id_own_staff_contribution">Contribution to Own Staff</label>
            <input id="id_own_staff_contribution" name="own_staff_contribution" step="0.0001" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.total_event_contribution.errors %} has-error{% endif %}">
            <label for="id_total_event_contribution">Total Budget Contributed to the Country for the Event</label>
            <input id="id_total_event_contribution" name="total_event_contribution" step="0.0001" type="number" class="form-control" />
        </div>
           <button type="submit" class="btn btn-default">Submit</button>
    </form>


{% endblock %}