{% extends 'welcome.html' %}
{% block content_container %}
    {% load widget_tweaks %}
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <!-- <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
    !-->
     <div class ="col-md-6">
    <h2 class="page-header">Partner Contribution to Events</h2>
    <form action="" method="post">
        {% csrf_token %}
        <!-- <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                <label for="id_country">Country</label>
                {% render_field form.country class+="form-control" %}
            </div>!--> 
        <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
            <label for="id_sector_category">Sector Category</label>
            {% render_field form.sector_category class+="form-control" %}
            </select>
        </div>
       
        <div class="form-group{% if form.partner.errors %} has-error{% endif %}">
            <label for="id_partner">Partner</label>
                <a href="/admin/dashboard/partner/add/"  class="add-another" id="add_id_partner" onclick="return showAddAnotherPopup(this);">
                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>[Add Partner]</a>
                {% render_field form.partner class+="form-control" %}
            
            </script>
        </div>
        <div class="form-group{% if form.event.errors %} has-error{% endif %}">
            
            <label for="id_event">Event</label>
                <a href="/admin/dashboard/event/add/"  class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);">
                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>[Add Event]</a>
                {% render_field form.event class+="form-control" %}
                
                
        </div>
         <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_year">Partner Contribution for the Year</label>
            {% render_field form.year class+="form-control" %}
        </div>
        <h4 class="formtitle">Partner contribution for the year</h4>
        <div class="form-group{% if form.government_staff_contribution.errors %} has-error{% endif %}">
            <label for="id_government_staff_contribution">Contribution to Government Staff(USD)</label>
            <input id="id_government_staff_contribution" name="government_staff_contribution" pattern="^\d*(\.\d{2}$)?" size="4"
    title="CDA Currency Format - no dollar sign and no comma(s) - cents (.##) are optional" class="form-control" />
        </div>
        <div class="form-group{% if form.own_staff_contribution.errors %} has-error{% endif %}">
            <label for="id_own_staff_contribution">Contribution to Own Staff(USD)</label>
            <input id="id_own_staff_contribution" name="own_staff_contribution" step="1.00" type="number" class="form-control" />
        </div>
        <div class="form-group{% if form.total_event_contribution.errors %} has-error{% endif %}">
            <label for="id_total_event_contribution">Total Budget Contributed to the Country for the Event(USD)</label>
            <input id="id_total_event_contribution" name="total_event_contribution" step="1.00" type="number" class="form-control" />
        </div>
           <button type="submit" class="btn btn-default">Submit</button>
    </form>

     </div>
{% endblock %}