{% extends 'base.html' %}
{% block content_container %}
{% load widget_tweaks %}
<!--
    <form action="" method="post">{% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit" />
    
    -->
     <!--<form action="" method="post" role="form">
    {% csrf_token %}
    {{ form }}
 </form>
-->
      <h1>Priority Area Status</h1>
      <form action="" method="post" role="form">
         {% csrf_token %}
         <div class="form-group{% if form.prioriry_area.errors %} has-error{% endif %}">           
            <label for="id_prioriry_area">Prioriry Area</label>
            {% render_field form.prioriry_area class+="form-control" %}
         </div>
         <div class="form-group{% if form.year.errors %} has-error{% endif %}">           
            <label for="id_year">Year</label>
            {% render_field form.year class+="form-control" min=1990 max=2020 %}
         </div>
         <div class="form-group{% if form.population.errors %} has-error{% endif %}">           
            <label for="id_population">Population</label>
            <input id="id_population" name="population" type="number" class="form-control" />
         </div>
         <div class="form-group{% if form.number_of_households.errors %} has-error{% endif %}">           
            <label for="id_number_of_households">Number of Households</label>
            <input id="id_number_of_households" name="number_of_households" type="number" class="form-control" />
         </div>
      </form>



{% endblock %}