{% extends 'welcome.html' %}
{% block content_container %}
{% load widget_tweaks %}

<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<div class="container msg-scc" >
               {% if messages %}
           <div class="row">
            <div  class="succuess col-sm-6">
              {% for message in messages %}
                   <p {% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }}</p
                     {% endfor %}
            </div>
           </div>
               {% endif %}
    </div>
<h2 class="page-header">Priority Area Status for {{ country }}</h2>
<ul class="nav nav-tabs">
  <li class="active"><a href="#add" data-toggle="tab">Add</a></li>
  <li><a href="#list" data-toggle="tab">List</a></li>
</ul>
    
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="add">
 <div class ="col-md-6">
      
      <form action="" method="post" role="form">
         {% csrf_token %}
         <div class="col-md-6 form-group">
            <div class="form-group{% if form.priority_area.errors %} has-error{% endif %}">           
               <label for="id_priority_area">Priority Area</label>
               <a href="/admin/dashboard/priorityarea/add/"  class="add-another" id="add_id_priority_area" onclick="return showAddAnotherPopup(this);">
               <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>[Add]</a>
               {% render_field form.priority_area class+="form-control" tabindex+="1" %}
               {% if form.priority_area.errors %}
                  {{ form.priority_area.errors }}
                {% endif %}
           </div>
            <div class="form-group{% if form.population.errors %} has-error{% endif %}">           
               <label for="id_population">Population</label>
               <input id="id_population" name="population" value="0" min="0" max="100000000"  type="number" title="Only numbers/year are allowed" class="form-control" tabindex="3" />
               {% if form.population.errors %}
                  {{ form.population.errors }}
                {% endif %}
            </div>
         </div>
         <div class="col-md-6 form-group">
            <div class="form-group{% if form.year.errors %} has-error{% endif %}">           
               <label for="id_year">Year</label>
               {% render_field form.year class+="form-control" tabindex+="2" %}
               {% if form.year.errors %}
                  {{ form.year.errors }}
                {% endif %}
            </div>
            <div class="form-group{% if form.number_of_households.errors %} has-error{% endif %}">           
               <label for="id_number_of_households">Number of Households</label>
               <input id="id_number_of_households" name="number_of_households" min="0" max="100000000"  value="0" type="number" title="Only numbers/year are allowed" class="form-control" tabindex="4" />
               {% if form.number_of_households.errors %}
                  {{ form.number_of_households.errors }}
                {% endif %}
            </div>
         </div>
         
         <div class="bt-submit">
            <button type="submit" class="btn btn-success" tabindex="5">Save</button>
        
            <button type="submit" class="btn btn-primary" tabindex="6" name="save_add">Save & Add</button>
         
            <button type="reset" class="btn btn-danger" tabindex="7">Cancel</button>
         </div>
      </form>
 </div>
</div>
  <div class="tab-pane col-md-8" id="list">
    {% include "snippets/priority_area_status_list.html" %}
  </div>
</div>

{% endblock %}