{% extends 'base.html' %}
{% block content_container %}
   <!-- <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
!-->
    <h1>Sector SWOT & Conclusion</h1>
    <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if form.country.errors %}
                    <ol>
                    {% for error in form.country.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                <label for="id_country">Country:</label>
                <select id="id_country" name="country" class="form-control">
                <option value="" selected="selected">---------</option>
                </select
            </div>
            <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
                <label for="id_sector_category">Sector category:</label>
                <select id="id_sector_category" name="sector_category" class="form-control">
                <option value="" selected="selected">---------</option>
                </select>
            </div>
            <div class="form-group{% if form.overall_challenges.errors %} has-error{% endif %}">
                <label for="id_overall_challenges">Overall challenges:</label>
                <textarea cols="40" id="id_overall_challenges" name="overall_challenges" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.strengths.errors %} has-error{% endif %}">
                <label for="id_strengths">Strengths:</label>
                <textarea cols="40" id="id_strengths" name="strengths" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.weaknesses.errors %} has-error{% endif %}">
                <label for="id_weaknesses">Weaknesses:</label>
                <textarea cols="40" id="id_weaknesses" name="weaknesses" class="form-control" rows="3">
                </textarea>
            </td>
            <div class="form-group{% if form.opportunities.errors %} has-error{% endif %}">
                <label for="id_opportunities">Opportunities:</label>
                <textarea cols="40" id="id_opportunities" name="opportunities" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.risks.errors %} has-error{% endif %}">
                <label for="id_risks">Risks:</label>
                <textarea cols="40" id="id_risks" name="risks" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.opportmitigation_measuresunities.errors %} has-error{% endif %}">
                <label for="id_mitigation_measures">Mitigation measures:</label>
                <textarea cols="40" id="id_mitigation_measures" name="mitigation_measures" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.kap_recommendations.errors %} has-error{% endif %}">
                <label for="id_kap_recommendations">KAP recommendations:</label>
                <textarea cols="40" id="id_kap_recommendations" name="kap_recommendations" class="form-control" rows="3">
                </textarea>
            </div>
            <div class="form-group{% if form.id_conclusion.errors %} has-error{% endif %}">
                <label for="id_conclusion">Conclusion:</label>
                <textarea cols="40" id="id_conclusion" name="conclusion" class="form-control" rows="3">
                </textarea>
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>


{% endblock %}