
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" > 
<head> 
    <title>Add technology | Parameters</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
 
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
 
    <!-- Le styles, placed after extrastyle to correctly override default styling --> 
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> 
    <style type="text/css"> 
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style> 
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/> 
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css" /> 
 
    <!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> --> 
    <script type="text/javascript"> 
    //<![CDATA[
        window.__admin_media_prefix__ = "/static/admin/";
    //]]>
    </script> 
    <script src="/static/admin/js/jquery-1.9.1.min.js"></script> 
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script> 
    <script src="/static/bootstrap/js/bootstrap.min.js"></script> 
 
    
 
<script type="text/javascript" src="/admin/jsi18n/"></script> 
<script type="text/javascript" src="/static/admin/js/core.js"></script> 
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script> 
<script type="text/javascript" src="/static/admin/js/jquery.js"></script> 
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
<script type="text/javascript" src="/static/admin/js/actions.js"></script> 
 
 
    <meta name="robots" content="NONE,NOARCHIVE" /> 
    <script type="text/javascript"> 
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script> 
</head> 
 
 
<body class="dashboard-technology change-form"> 
  {% load widget_tweaks %}
<!-- Container --> 
<div class="container-fluid"> 
 
    
    <!-- Header --> 
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="navbar-inner"> 
            <div class="container-fluid"> 
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </a> 
                

<h3 id="site-name" style="color: #ffffff">Site Administration  | Parameters </h3>

 
                <div class="nav-collapse collapse pull-right"> 
                    <ul class="nav"> 
                        
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <strong>admin</strong> <b class="caret"></b></a> 
                            <ul class="dropdown-menu pull-right"> 
                                
                                <li><a href="/admin/password_change/">Change password</a></li> 
                                
                                <li><a href="/admin/logout/">Log out</a></li> 
                            </ul> 
                        </li> 
                        
                        <li class="divider-vertical"></li> 
                        
                        
                        
                        <li class="dropdown" id="recent-actions-module"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Actions <b class="caret"></b></a> 
                            
                            
                            <ul class="dropdown-menu pull-right"> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/partner/2/"> 
                                        <i class="icon-plus"></i> 
                                        UNWFP
                                        
                                        <span class="mini quiet">(Partner)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/partner/1/"> 
                                        <i class="icon-plus"></i> 
                                        USAID
                                        
                                        <span class="mini quiet">(Partner)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/technology/4/"> 
                                        <i class="icon-plus"></i> 
                                        Tech 2 - FC 1 - Sector Cat 1
                                        
                                        <span class="mini quiet">(Technology)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/technology/3/"> 
                                        <i class="icon-plus"></i> 
                                        Tech 1 - FC 1 - Sector Cat 1
                                        
                                        <span class="mini quiet">(Technology)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/facilitycharacter/2/"> 
                                        <i class="icon-plus"></i> 
                                        FC 2 - Sector Cat 1
                                        
                                        <span class="mini quiet">(Facility character)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/facilitycharacter/1/"> 
                                        <i class="icon-plus"></i> 
                                        FC 1 - Sector Cat 1
                                        
                                        <span class="mini quiet">(Facility character)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/sectorcategory/1/"> 
                                        <i class="icon-plus"></i> 
                                        Sector Cat 1
                                        
                                        <span class="mini quiet">(Sector category)</span> 
                                        
                                    </a> 
                                </li> 
                                
                                <li class="addlink"> 
                                    <a href="/admin/dashboard/priorityarea/2/"> 
                                        <i class="icon-plus"></i> 
                                        Addis Ababa - Ethiopia
                                        
                                        <span class="mini quiet">(Priority area)</span> 
                                        
                                    </a> 
                                </li> 
                                
                            </ul> 
                        </li> 
                        
                        
                        
                        
                        
                        
                        
                    </ul> 
                </div><!--/.nav-collapse --> 
            </div> 
        </div> 
    </div> 
    <!-- END Header --> 
    <div class="row-fluid"> 
        <div class="span12"> 
            
<ul class="breadcrumb"> 
<li><a href="/admin/">Home</a> <span class="divider">/</span></li> 
<li><a href="/admin/dashboard/">Dashboard</a> <span class="divider">/</span></li> 
<li><a href="/admin/dashboard/technology/">Technologies</a> <span class="divider">/</span></li> 
<li>Add technology</li> 
</ul> 
 
        </div> 
    </div> 
    
 
    <!-- Content --> 
    <div id="content" class="colM"> 
        
        <div class="row-fluid"> 
            <div class="navbar"> 
                <div class="navbar-inner"> 
                    
                    <a class="brand">Add technology</a> 
                    
 
 
                </div> 
            </div> 
        </div> 
        
 
        
        
        
 
        
 
 
    
 
 
 
<form class="form-horizontal" enctype="multipart/form-data" action="" method="post" id="technology_form"><input type='hidden' name='csrfmiddlewaretoken' value='ZM6xBwabK897rMpzn3ncZNjywWSrheWw' /> 
    <div class="alert alert-warning">Fields in <strong>bold</strong> are required.</div> 
    
    <div class="row-fluid"> 
        
    </div> 
    <div class="row-fluid"> 
        <div id="content-main" class="span12"> 
            <div> 
            
 
            
            
              <fieldset class="_module _aligned" id="fieldset-1" style="background:transparent"> 
    
    <div class="fields "> 
        <div class="control-group  field-sector_category"> 
            
                <div> 
                    
                        <div class="control-label"> 
                            <label class="required" for="id_facility_character">Sector Category</label> 
                        </div> 
                        <div class="controls"> 
                            {% render_field form.sector_category class+="form-control" %}
                                <a href="/admin/dashboard/sectorcategory/add/" class="add-another" id="add_id_sector_category" onclick="return showAddAnotherPopup();"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a> 
                            
                            
                            
                        </div> 
                    
                </div> 
            
        </div> 
    
        <div class="control-group  field-facility_character"> 
            
                <div> 
                    
                        <div class="control-label"> 
                            <label class="required" for="id_facility_character">Facility character:</label> 
                        </div> 
                        <div class="controls"> 
                            {% render_field form.facility_character class+="form-control" %}
                                <a href="/admin/dashboard/facilitycharacter/add/" class="add-another" id="add_id_facility_character" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a> 
                            
                            
                            
                        </div> 
                    
                </div> 
            
        </div> 
    
        <div class="control-group  field-name"> 
            
                <div> 
                    
                        <div class="control-label"> 
                            <label class="required" for="id_name">Name:</label> 
                        </div> 
                        <div class="controls"> 
                            
                                <input class="vTextField" id="id_name" maxlength="120" name="name" type="text" /> 
                            
                            
                            
                        </div> 
                    
                </div> 
            
        </div> 
    
        <div class="control-group  field-is_active"> 
            
                <div> 
                    
                        <div class="control-label"> 
                            <label class="vCheckboxLabel" for="id_is_active">Is active</label> 
                        </div> 
                        <div class="controls"> 
                            <div class="checkbox"> 
                                 <input id="id_is_active" name="is_active" type="checkbox" /> 
                            </div> 
                        </div> 
                    
                </div> 
            
        </div> 
    
    </div> 
</fieldset> 
 
            
            
 
            
 
            
            
            
 
            
 
            
               <script type="text/javascript">document.getElementById("id_facility_character").focus();</script> 
            
 
            
            
<script type="text/javascript"> 
(function($) {
    var field;
 
 
})(django.jQuery);
</script> 
 
 
            </div> 
        </div> 
    </div> 
    <div class="row-fluid"> 
        <div class="form-actions"> 
            
<div class="pull-left"> 
    
</div> 
<div class="pull-right"> 
 
<input type="submit" value="Save and add another" class="btn" name="_addanother"  /> 
<input type="submit" value="Save and continue editing" class="btn" name="_continue" /> 
<input type="submit" value="Save" class="btn btn-primary default" name="_save" /> 
</div> 
 
        </div> 
    </div> 
</form> 
 
        
    </div> 
    <!-- END Content -->
	<script src="/static/js/prototype.js"></script>
    <script type="text/javascript" charset="utf-8">
        
	    function FilterFacilityCharacters(sel_val) {		    
		    var facList = $('id_facility_character');
		    for (var count = facList.options.length-1; count >-1; count--){
			    facList.options[count] = null;
		    }
		    facList.options[0] = new Option('Loading...', '-1', false, false);
		    facList.disabled = true;
		    //FilterTechnologies()
		    // var makeList = $('id_make');
		    // var make_id = makeList.options[makeList.selectedIndex].value;
		    var category = $('id_sector_category')
		    var category_id = category.options[category.selectedIndex].value;
		    if (category_id > 0){
		    //if (make_id > 0) {
			    new Ajax.Request('/feeds/facility-characters-by-sector-category-id/' + category_id + '/', {
			    //new Ajax.Request('/feeds/models-by-make-id/' + make_id + '/', {
				    method: 'get',
				    onSuccess: function(transport){
					    var response = transport.responseText || 'no response text';
					    var kvpairs = response.split("\n");
					    if (kvpairs.length < 2) {
						techList.options[0] = new Option('No Facility Characters', '-1', false, false);
						techList.disabled = true;
						return;
					    }
					    for (i=0; i<kvpairs.length - 1; i++) {
						    m = kvpairs[i].split(";");
						    var option = new Option(m[1], m[0], false, false);
						    facList.options[i] = option;
					    }
					    facList.disabled = false;
					    if (sel_val > 0) {
						    facList.value = sel_val;
					    }
				    },
				    onFailure: function(){
					    alert('An error occured trying to filter the Facility Characteristics list.');					    
					    facList.disabled = true;
				    }
			    });
			FilterTechnologies();    
		    }
		    else {
			    facList.options[0] = new Option('Select Facility Characteristic', '-1', false, false);
			    facList.disabled = true;
		    }
		    //FilterTechnologies();
	    }
    </script>
 
    <footer id="footer"></footer> 
</div> 
<!-- END Container --> 
 
</body> 
</html> 