{% extends 'welcome.html' %}
{% block content_container %}
    
    {% load widget_tweaks %}
    
    <!--
    <form action="" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Submit" />
    !-->
     <div class ="col-md-6">
    <h2 class="page-header">Tender & Procurument Performance</h2>
        <form action="" method="post" role="form">
    {% csrf_token %}
        <!-- <div class="form-group{% if form.country.errors %} has-error{% endif %}">
            <label for="id_country">Country</label>
            {% render_field form.country class+="form-control" %}
        </div>!-->
    <div class="col-md-6 form-group">
        <div class="form-group{% if form.sector_category.errors %} has-error{% endif %}">
            <label for="id_sector_category">Sector Category</label>
            {% render_field form.sector_category class+="form-control" %}
            </select>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div class="form-group{% if form.tender_procedure_property.errors %} has-error{% endif %}">
            <label for="id_tender_procedure_property">Tend. & Proc. Property</label>
            {% render_field form.tender_procedure_property class+="form-control" %}
        </div>
    </div>
    
    <div class="col-md-12 form-group">
        <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_year">Year</label>
            <select class="form-control" id="id_country" name="country">
            <option value="" selected="selected">---------</option>
            <option value="2030">2030</option>
            <option value="2029">2029</option><option value="2028">2028</option><option value="2027">
            2027</option><option value="2026">2026</option><option value="2025">2025</option>
            <option value="2024">2024</option><option value="2008">2023</option>
            <option value="2022">2022</option><option value="2006">2021</option>
            <option value="2020">2020</option><option value="2004">2019</option>
            <option value="2018">2018</option><option value="2002">2017</option>
            <option value="2016">2016</option><option value="2000">2015</option>
            <option value="2014">2014</option><option value="2013">2013</option><option value="2012">
            2012</option><option value="2011">2011</option><option value="2010">2010</option>
            <option value="2009">2009</option><option value="2008">2008</option>
            <option value="2007">2007</option><option value="2006">2006</option>
            <option value="2005">2005</option><option value="2004">2004</option>
            <option value="2003">2003</option><option value="2002">2002</option>
            <option value="2001">2001</option><option value="2000">2000</option>
            <option value="1999">1999</option><option value="1998">1998</option>
            <option value="1997">1997</option><option value="1996">1996</option>
            <option value="1995">1995</option><option value="1994">1994</option>
            <option value="1993">1993</option><option value="1992">1992</option>
            <option value="1991">1991</option><option value="1990">1990</option>
      </select>
        </div>
    </div>
    <h4 class="formtitle">Enter values for the property for the year</h4>
    <div class="col-md-6 form-group">
        <div class="form-group{% if form.registered.errors %} has-error{% endif %}">
            <label for="id_registered">Number Registered</label>
            <input id="id_registered" min="0" name="registered" type="number" class="form-control" />
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div class="form-group{% if form.executed.errors %} has-error{% endif %}">
            <label for="id_executed">Number Executed</label>
            <input id="id_executed" min="0" name="executed" type="number" class="form-control" />
        </div>
    </div>
    <h4 class="formtitle">Comments on bottlenecks & successes</h4>
    <div class="col-md-6 form-group">
        <div class="form-group{% if form.general_comment.errors %} has-error{% endif %}">
            <label for="id_general_comment">General Comment</label>
            <textarea cols="40" id="id_general_comment" name="general_comment" class="form-control" rows="3">
            </textarea>
        </div>
         <div class="form-group{% if form.year.errors %} has-error{% endif %}">
            <label for="id_measures_taken">Measures Taken</label>
            <textarea cols="40" id="id_measures_taken" name="measures_taken" class="form-control" rows="3">
            </textarea>
        </div>
        
    </div>
    <div class="col-md-6 form-group">
       <div class="form-group{% if form.bottlenecks.errors %} has-error{% endif %}">
            <label for="id_bottlenecks">Bottlenecks</label>
            <textarea cols="40" id="id_bottlenecks" name="bottlenecks" class="form-control" rows="3">
            </textarea>
        </div>
       
        <div class="form-group{% if form.success_challeges.errors %} has-error{% endif %}">
            <label for="id_success_challenges">Success Challenges</label>
            <textarea cols="40" id="id_success_challenges" name="success_challenges" class="form-control" rows="3">
            </textarea>
        </div>
    </div>
            <button type="submit" class="btn btn-default">Submit</button>
    </form>
     </div>

{% endblock %}