
{% load render_table from django_tables2 %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>AU Water and Sanitation Goals in Africa</title>

    <!-- Bootstrap core CSS -->
    <script type="javascript/text">
        
    </script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <!--<script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <script type="text/javascript" language="javascript" src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>	
	<script src="/static/js/prototype.js"></script>
	<script src="/static/js/filter.js"></script>
        <!--<script type="text/javascript" language="javascript" src="/static/js/jquery-1.10.2.min.js"></script>-->
        <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-DT-pagination.js"></script>
        <script type="text/javascript" src="/static/js/prettify.js"></script>
        
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Water and Sanitation Goals in Africa</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/">Home</a></li>
            {% if user.is_superuser %}
            <li><a href="/admin">Administration</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="/logout">Log Out</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li><a href="/login">Log In</a></li>
            {% endif %}
                         
        </ul>
         
          
         
          
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>-->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        {% block left_navigation %}
        {% if user.is_authenticated %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/report/countrystatus">Country Status Data</a></li>
            <li><a href="/report/PriorityStatus">Priority Area Status</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/report/FacilityAccess">Access to Water & San. Technology</a></li>
            <li><a href="/report/SectorPerformance">Sector Performance</a></li>
            <li><a href="/report/PlanningPerformance">Planning Performance</a></li>
            <li><a href="/report/TenderProcPerformance">Tender & Pro. Performance</a></li>
            <li><a href="/report/CommunityApproach">Communities Approach</a></li>
            <li><a href="/report/PartnerContribution">Contribution to Country</a></li>
            <li><a href="/report/PartnerEventContribution">Contribution to Events</a></li>
            <li><a href="/report/swot">Sector SWOT & Conclusion</a></li>
            
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/report/priorityareaview/list">List of Priority Areas</a></li>
            <li><a href="/report/listofpriorityareas">List of Priority Areas Status</a></li>
            <li><a href="/report/technologygapperpriorityarea">Technology gap clustered by PA</a></li>
            <li><a href="/report/technologiesgapsforthecategory">Technologies gaps for the category</a></li>
            <li><a href="/report/estimatedoverallgaps">Estimated overall gaps</a></li>
          </ul>
        </div>
        {% endif %}
        {% endblock %}
        {% if not user.is_authenticated %}
        <div class="col-sm-9 col-sm-offset-0 col-md-12 col-md-offset-0 main">
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         {% endif %}
            
        {% block content_container %}
        
        <div class="starter-template">
		    <IMG src="../media/header.png" alt="AU" class="img-thumbnail displayed">
                        
                    <p class="welcome">Welcome</p>
		    <p class="lead enbody"><strong>to the Application for National Need Assessment</strong><br>
									      for preparing the <strong>Kigali Action Plan</strong> for operationalizing the January 2014 African
                                                                              Union Assembly Decision AU/DEC. 516 (XXII) on the implementation of the July 2008
                                                                              Sharm EI-Sheikh Commitments for Accelerating the Achievement of Water and Sanitation Goals in Africa.</p>
		    <div class="enbody">
                    <p class="bodytext">The current template intends to compile information related to the country
                    national actions programming for water supply and sanitation in rural
                    areas for the coming years, taking the anticipated gaps for the year 2015 for
                    reaching the MDGs targets in specific Priority Areas as a starting point.
                    <u>Priority Area</u> in this document refers to a geographical setting
                    classified as rural area. Focus of the gap assessment is placed on
                    the existing technologies, the management, institutional and funding
                    approaches that are already in use for the communities. The Kigali Action
                    Plan will be based on those gaps and the identified strengths and weaknesses of
                    the implementation of the national rural water and sanitation programs,
                    to define necessary interventions to quickly start closing those gaps in 2015
                    and to continue these efforts towards the year 2020.
                    <br>As far as possible, the 
                    nterventions of the Kigali Action Plan should be based on national sector
                    policies, strategies and programs. Reflection of proposed KAP interventions in
                    countries’ sector budgets is considered an advantage. </p>
                    </div>
                    <hr class="enbody line">
                    <p class="welcome">Bienvenue</p>
		    <p class="lead enbody"><strong>à l’Application pour l’Evaluation des Besoins Nationaux</strong><br>
									      pour la préparation du <strong>Plan d'Action de Kigali</strong> visant l'opérationnalisation de la Décision 
									      
									      AU/DEC. 516 (XXII) de la Conférence de l'Union Africaine de Janvier 2014 sur la mise en 
									      
									      œuvre des engagements de Sharm El-Sheikh Juillet 2008 pour accélérer la réalisation des
                                                                              
                                                                                Objectifs du Millénaire pour l'Eau et l'Assainissement en Afrique.
                    </p>
                    <div class="enbody">
		    <p class="bodytext">Le présent Formulaire vise à compiler des informations relatives à la
                    programmation des actions nationales par pays pour l'approvisionnement en eau
                    et assainissement dans les zones rurales pour les années à venir, en prenant
                    les écarts prévus pour l'année 2015 pour atteindre les cibles des OMD dans les
                    localités prioritaires spécifiques comme point de départ. <u>Localité prioritaire</u>
                    dans ce document se réfère à un lieu géographique classé comme zone rurale.
                    Cette évaluation des gaps sera axée sur les technologies existantes, les approches
                    institutionnelles, de gestion, et de financement qui sont déjà utilisées pour les
                    communautés. Le plan d'action de Kigali s’appuiera sur ces gaps ainsi que les
                    forces et faiblesses identifiées dans la mise en œuvre des programmes nationaux
                    d’eau et d’assainissement en milieu rural, afin de définir les interventions
                    requises pour rapidement fermer les gaps anticipés pour la fin de l’année 2015,
                    et à poursuivre ces efforts à l'année 2020. Autant que possible, les interventions
                    du Plan d'Action de Kigali devraient être fondées sur les politiques sectorielles,
                    les stratégies et programmes nationaux. Reflet des interventions proposées du PAK
                    dans les budgets sectoriels du pays est considéré comme un avantage.</p>
                    </div>
			  {% endblock %}
		  </div>
			  
	
	</div>
          
         
	</body>
	</html>
	